:root {
  --background: #ffffff;
  --foreground: white;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
  box-shadow: none;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
  box-shadow: none;
}


.js-focus-visible :focus:not([data-focus-visible-added]) {
  outline: none;
  box-shadow: none;
}

input[type='date'] {
  text-align: left;
}

input[type='date']:before {
  color: transparent;
  content: '' !important;
  /* margin-right: 0.5em; */
}
input[type='date']:focus::before,
input[type='date']:valid::before {
  content: '' !important;
}

.hidden-input {
  height: 0px !important;
}
.react-datepicker-wrapper{
  height: 0px;
  width: 0px;
  z-index: 99;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}


